body, html
{
	border:0;
	margin:0;
	padding:0;
	height:100%;
	overflow: hidden;
	font-family: Helvetica;
}
.item{
    position: absolute;
}


.item.cloud{
    background: url('../img/gameObject/Cloud/nuage.png');
}


#screen
{
	background-color:#000;
	width:100%;
	height:100%;
	margin:0% auto;
}
.background
{
	background-color: #000;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
