
#toolbar
{
	height: 50px;
	width:55%;
	left:25%;
	background-color:rgba(255,255,255,0.2);
	position:absolute;
	bottom:10px;
	z-index: 50;
	display:none;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
	border-radius: 2px;
}

#btn_restart
{
	float:right;
}
#btn_credits
{
	float:right;
}

.btn
{
	width:40px;
	height:40px;
	margin:5px;
	background-color:rgba(50,50,50,1);
	border:solid 1px #444;
	float:left;
	border-radius:3px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	color:#FFF;
	text-align: center;
	cursor:pointer;
}

.btn:hover
{
	background-color:rgba(80,80,80,1);
}

.btn .label
{
	font-size:10px;
	margin-top:15px;
}
.img-toolbar{
    margin:auto;
    margin-top: 5px;
}
